{# @var plugin \appmanschap\craftplaylister\Playlister #}
{# @var settings \appmanschap\craftplaylister\models\Settings #}
{% set selectedSubnavItem = 'settings' %}

{% import '_includes/forms.twig' as forms %}

<div>
{{ forms.autosuggestField({
  label: "YouTube API key"|t("craft-playlister"),
  instructions: "The API key will be used to retrieve the playlist items of a specific playlist"|t("craft-playlister"),
  suggestEnvVars: true,
  suggestAliases: false,
  id: "youtubeApiKey",
  name: "youtubeApiKey",
  value: settings.youtubeApiKey,
  errors: settings.getErrors("youtubeApiKey"),
}) }}
</div>