{# @var plugin \appmanschap\youtubeplaylistimporter\YoutubePlaylistImporter #}
{# @var settings \appmanschap\youtubeplaylistimporter\models\Settings #}

{% set selectedSubnavItem = 'settings' %}
{% import '_includes/forms.twig' as forms %}

<div>
{{ forms.autosuggestField({
  label: "Youtube API key"|t("youtubeplaylistimporter"),
  instructions: "The API key will be used to retrieve the playlist items of a specific playlist"|t("youtubeplaylistimporter"),
  suggestEnvVars: true,
  suggestAliases: false,
  id: "youtubeApiKey",
  name: "youtubeApiKey",
  value: settings.youtubeApiKey,
  errors: settings.getErrors("youtubeApiKey"),
}) }}
</div>