{% extends '_layouts/elementindex' %}
{% set elementType = 'appmanschap\\craftplaylister\\elements\\Playlist' %}

{% block actionButton %}
    <div class="buttons">
        <form method="POST">
            {{ csrfInput() }}
            {{ actionInput('craft-playlister/playlist/create') }}
            <input type="hidden" name="elementType" value="{{ elementType }}" />
            <button type="submit" class="btn submit">{{ 'New playlist' | t('craft-playlister') }}</button>
        </form>
    </div>
{% endblock %}
